<h2 mat-dialog-title>{{product.product_name}}</h2>
<mat-dialog-content class="mat-typography">

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
  
    <ng-container matColumnDef="Fields">
      <th mat-header-cell *matHeaderCellDef> Fields </th>
      <td mat-cell *matCellDef="let element"> {{element.key}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Values">
      <th mat-header-cell *matHeaderCellDef> Values </th>
      <td mat-cell *matCellDef="let element"> 
        {{ element.key !== 'Images' ? element.value : ''}}
        <!-- {{ element.value === 'true' ? 'Yes' : element.value === 'false' ? 'No' : element.value }} -->

          <mat-icon aria-hidden="false" *ngIf="element.key == 'Images'" (click)="showAllImages(element.value)">visibility</mat-icon>  
      </td>
    </ng-container>
    
    
 
     
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  

</mat-dialog-content>