table {
    width: 100%;
    height: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .left-item {
    margin-right: auto;
  }
  
  .right-item {
    margin-left: auto;
  }
